<a href="">
    <!DOCTYPE html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="keywords" content="Laevo, online furniture store, indian Leavo">
        <link rel="icon" href="/Images/Logo_Laevo_small1.png" type="image/icon type">
        <link rel="stylesheet" href="/CSS/bootstrap.css">
        <!-- Bootstrap-Core-CSS -->
        <link href="/CSS/css_slider.css" type="text/css" rel="stylesheet" media="all">
        <!-- banner slider -->
        <link rel="stylesheet" href="/CSS/style.css" type="text/css" media="all" />
        <!-- Style-CSS -->
        <link href="/CSS/font-awesome.min.css" rel="stylesheet">
        <!--My CSS -->
        <link rel="stylesheet" type="text/css" href="/CSS/Shipping.css">

        <title>Shipping-service</title>
    </head>

    <body>
        <header id="Header">
            <div class="container-fluid">
                <div class="header d-md-flex align-items-center py-sm-3 py-2 px-sm-2 px-1">
                    <!-- logo -->
                    <div id="logo">
                        <a href="/"><img src="/Images/Logo_Laevo.png" class="Logo" /></a>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls ml-5">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="#gallery">Gallery</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- //nav -->
                </div>
            </div>
        </header>

        <div id="Container">
            <div class="Row-container">
                <div class="Col-container">
                    <div class="Picture"><img src="/Images/Fed.png" alt="" class="Image" /></div>
                    <div class="Info">
                        <span id="Text"><%= shippers[0].shipper %> </span>
                    </div>
                    <div class="Btn">
                        <a href="/sucess"><button type="button" class="Ship">SHIP</button></a>
                    </div>
                </div>

                <div class="Col-container">
                    <div class="Picture"><img src="/Images/Z.png" alt="" class="Image" /></div>
                    <div class="Info">
                        <span id="Text"><%= shippers[1].shipper %></span>
                    </div>
                    <div class="Btn">
                        <a href="/sucess"><button type="button" class="Ship">SHIP</button></a>
                    </div>
                </div>

                <div class="Col-container">
                    <div class="Picture"><img src="/Images/Insta.png" alt="" class="Image" /></div>
                    <div class="Info">
                        <span id="Text"><%= shippers[2].shipper %></span>
                    </div>
                    <div class="Btn">
                        <a href="/sucess"><button type="button" class="Ship">SHIP</button></a>
                    </div>
                </div>
            </div>

            <div class="Row-container2">
                <div class="Col-container">
                    <div class="Picture"><img src="/Images/Ekart.png" alt="" class="Image" /></div>
                    <div class="Info">
                        <span id="Text"><%= shippers[3].shipper %></span>
                    </div>
                    <div class="Btn">
                        <a href="/sucess"><button type="button" class="Ship">SHIP</button></a>
                    </div>
                </div>

                <div class="Col-container">
                    <div class="Picture"><img src="/Images/Amazon.png" alt="" class="Image" /></div>
                    <div class="Info">
                        <span id="Text"><%= shippers[4].shipper %></span>
                    </div>
                    <div class="Btn">
                        <a href="/sucess"><button type="button" class="Ship">SHIP</button></a>
                    </div>
                </div>
            </div>
        </div>


        <footer class="bg-li py-5" id="Footer">
            <div class="container py-xl-5 py-lg-3">
                <div class="row footer-grids">
                    <div class="col-lg-4 footer-grid mt-lg-3">
                        <h2>
                            <a class="logo-2" href="/">Laevo</a>
                        </h2>
                    </div>
                    <div class="col-lg-2 col-sm-6 footer-grid mt-lg-3 mt-4">
                        <h3 class="mb-sm-4 mb-3 pb-3">Home</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/">Index</a>
                            </li>
                            <li>
                                <a href="/about">About Us</a>
                            </li>
                            <li>
                                <a href="#gallery">Gallery</a>
                            </li>
                            <li>
                                <a href="/contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-sm-6 footer-grid footer-contact mt-lg-3 mt-4">
                        <h3 class="mb-sm-4 mb-3 pb-3"> Contact Us</h3>
                        <ul class="list-unstyled">
                            <li>
                                +91 1800 419 4532
                            </li>
                            <li class="mt-2">
                                <a href="mailto:feedback@laevo.com">feedback@laevo.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-sm-6 footer-grid-social mt-lg-3 mt-4">
                        <h3 class="mb-sm-4 mb-3 pb-3">Catch on Social</h3>
                        <ul class="list-unstyled">
                            <li class="d-inline">
                                <a href="#"><span class="fa fa-facebook"></span></a>
                            </li>
                            <li class="d-inline">
                                <a href="#"><span class="fa fa-twitter"></span></a>
                            </li>
                            <li class="d-inline">
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                            </li>
                            <li class="d-inline">
                                <a href="#"><span class="fa fa-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer -->
        <!-- copyright -->
        <div class="copy_right text-center py-3 position-relative">
            <p>© 2020 Laevo. All rights reserved | Design by Leavo
            </p>
            <!-- move top icon -->
            <a href="#home" class="move-top text-center">
                <span class="fa fa-level-up" aria-hidden="true"></span>
            </a>
            <!-- //move top icon -->
        </div>
        <!-- //copyright -->

    </body>

    </html>